<h1>New Lot</h1>
<form>
  <div class="form-group">
    <label for="lot-name">Title</label>
    {{input value=lot-name id="lot-name" class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
