<h1>New Lot Item</h1>
<form>
  <div class="form-group">
    <label for="itemName">Item Name</label>
    {{input value=itemName id="itemName" class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
